@charset "utf-8";
html {
	color: var(--darkgray);
	font: 10px serif;
	user-select: none;
}
body {
	margin: 0 auto;
	max-width: 51.2rem;
}
.doc-root a {
  color: var(--lightblue);
  text-decoration: none;
}
.doc-root a:visited {
  color: var(--darkmagenta);
}
.doc-root blockquote {
  border-left: solid 0.5rem var(--gray);
  margin: 1rem 0;
  padding: 0.5rem 0 0.5rem 1rem;
}
.doc-root code {
  background: var(--lightgray);
  font-style: monospace;
}
.doc-root dd {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}
.doc-root dl {
  margin: 1rem 0;
  padding: 0;
}
.doc-root dt {
  margin: 0;
  padding: 0;
}
.doc-root h1, .doc-root h2, .doc-root h3, .doc-root h4, .doc-root h5, .doc-root h6 {
  box-shadow: 0.5rem 0.5rem 0.5rem var(--gray);
  margin: 1rem 0;
  padding: 0.5rem;
  padding-right: 0;
}
.doc-root h1 {
  border-left: solid 0.5rem var(--darkred);
  font-size: 2rem;
}
.doc-root h2 {
  border-left: solid 0.5rem var(--darkgreen);
  font-size: 1.8rem;
}
.doc-root h3 {
  border-left: solid 0.5rem var(--darkblue);
  font-size: 1.6rem;
}
.doc-root h4 {
  border-left: solid 0.5rem var(--darkmagenta);
  font-size: 1.4rem;
}
.doc-root h5 {
  border-left: solid 0.5rem var(--darkyellow);
  font-size: 1.2rem;
}
.doc-root h6 {
  border-left: solid 0.5rem var(--darkcyan);
  font-size: 1rem;
}
.doc-root hr {
  border: 0;
  border-top: solid 1px var(--darkgray);
  margin: 1rem 0;
  padding: 0;
}
.doc-root img {
  display: block;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}
.doc-root ol, .doc-root ul {
  margin: 1rem 0;
  padding: 0;
  padding-left: 2rem;
}
.doc-root p {
  margin: 1rem 0;
  padding: 0;
}
.doc-root pre code {
  background: var(--gray);
  border-radius: 1rem;
  color: white;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  ward-wrap: nowrap;
}
.doc-root section {
  margin: 1rem 0;
  padding: 0;
  padding-left: 1rem;
}
.doc-root table {
  border-spacing: 0;
  margin: 1rem 0;
  padding: 0;
  max-width: 100%;
}
.doc-root th {
  border: 0;
  border-bottom: solid 1px var(--darkgray);
  margin: 0;
  padding: 0.5rem 1rem;
}
.doc-root td {
  border: 0;
  border-bottom: solid 1px var(--lightgray);
  margin: 0;
  padding: 0.5rem 1rem;
}
.doc-root tr {
  margin: 0;
  padding: 0;
}
.doc-root td:first-child {
  white-space: nowrap;
}
#src {
	display: none;
}
