@charset "utf-8";
html {
	color: var(--darkgray);
	font: 10px serif;
	user-select: none;
}
body {
	margin: 0 auto;
	max-width: 51.2rem;
}
#root a {
  color: var(--lightblue);
  text-decoration: none;
}
#root a:visited {
  color: var(--darkmagenta);
}
#root blockquote {
  border-left: solid 0.5rem var(--gray);
  margin: 1rem 0;
  padding: 0.5rem 0 0.5rem 1rem;
}
#root code {
  background: var(--lightgray);
  font-style: monospace;
}
#root dd {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}
#root dl {
  margin: 1rem 0;
  padding: 0;
}
#root dt {
  margin: 0;
  padding: 0;
}
#root h1, #root h2, #root h3, #root h4, #root h5, #root h6 {
  box-shadow: 0.5rem 0.5rem 0.5rem var(--gray);
  margin: 1rem 0;
  padding: 0.5rem;
  padding-right: 0;
}
#root h1 {
  border-left: solid 0.5rem var(--darkred);
  font-size: 2rem;
}
#root h2 {
  border-left: solid 0.5rem var(--darkgreen);
  font-size: 1.8rem;
}
#root h3 {
  border-left: solid 0.5rem var(--darkblue);
  font-size: 1.6rem;
}
#root h4 {
  border-left: solid 0.5rem var(--darkmagenta);
  font-size: 1.4rem;
}
#root h5 {
  border-left: solid 0.5rem var(--darkyellow);
  font-size: 1.2rem;
}
#root h6 {
  border-left: solid 0.5rem var(--darkcyan);
  font-size: 1rem;
}
#root hr {
  border: 0;
  border-top: solid 1px var(--darkgray);
  margin: 1rem 0;
  padding: 0;
}
#root img {
  display: block;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}
#root ol, #root ul {
  margin: 1rem 0;
  padding: 0;
  padding-left: 2rem;
}
#root p {
  margin: 1rem 0;
  padding: 0;
}
#root pre code {
  background: var(--gray);
  border-radius: 1rem;
  color: white;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  ward-wrap: nowrap;
}
#root section {
  margin: 1rem 0;
  padding: 0;
  padding-left: 1rem;
}
#root table {
  border-spacing: 0;
  margin: 1rem 0;
  padding: 0;
  max-width: 100%;
}
#root th {
  border: 0;
  border-bottom: solid 1px var(--darkgray);
  margin: 0;
  padding: 0.5rem 1rem;
}
#root td {
  border: 0;
  border-bottom: solid 1px var(--lightgray);
  margin: 0;
  padding: 0.5rem 1rem;
}
#root tr {
  margin: 0;
  padding: 0;
}
#root td:first-child {
  white-space: nowrap;
}
#src {
	display: none;
}
